In [ ]:
# %run "/content/drive/MyDrive/Colab Notebooks/spark-setup.ipynb"

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 1.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for pyspark (setup.py) ... done

In [ ]:
!pip install -q pycountry
import pycountry

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.3/6.3 MB 20.6 MB/s eta 0:00:00

In [ ]:
# read countries
countries_df =spark.read.options(inferSchema=True, header=True).csv("/content/drive/MyDrive/datasets/countries/countries of the world.csv")
from pyspark.sql.functions import trim, ltrim, rtrim, col

In [ ]:
#Trim columns
countries_df = countries_df.withColumn("Country", rtrim(col("Country")))

In [ ]:
#Rename columns
countries_df = countries_df \
  .withColumnRenamed('Area (sq. mi.)','area_per_squaremile' ) \
  .withColumnRenamed('Pop. Density (per sq. mi.)','population_density_per_square_mile' ) \
  .withColumnRenamed('Coastline (coast/area ratio)','coastline_area_ratio' ) \
  .withColumnRenamed('Net migration','net_migration' ) \
  .withColumnRenamed('Infant mortality (per 1000 births)','infant_mortality_per_thousand' ) \
  .withColumnRenamed('GDP ($ per capita)', 'gdp') \
  .withColumnRenamed('Literacy (%)', 'literacy_rate') \
  .withColumnRenamed('Phones (per 1000)', 'phones_per_thousand') \
  .withColumnRenamed('Arable (%)', 'arable_percentage') \
  .withColumnRenamed('Crops (%)', 'crops_percentage') \
  .withColumnRenamed('Other (%)', 'other_percentage') \
  .withColumnRenamed('Climate', 'climate')

In [ ]:
countries_df.show()

+-----------------+--------------------+----------+-------------------+----------------------------------+--------------------+-------------+-----------------------------+-----+-------------+-------------------+-----------------+----------------+----------------+-------+---------+---------+-----------+--------+-------+
|          Country|              Region|Population|area_per_squaremile|population_density_per_square_mile|coastline_area_ratio|net_migration|infant_mortality_per_thousand|  gdp|literacy_rate|phones_per_thousand|arable_percentage|crops_percentage|other_percentage|climate|Birthrate|Deathrate|Agriculture|Industry|Service|
+-----------------+--------------------+----------+-------------------+----------------------------------+--------------------+-------------+-----------------------------+-----+-------------+-------------------+-----------------+----------------+----------------+-------+---------+---------+-----------+--------+-------+
|      Afghanistan|ASIA (EX. NEAR EAST)|  31056997|             647500|                              48,0|                0,00|        23,06|                       163,07|  700|         36,0|                3,2|            12,13|            0,22|           87,65|      1|     46,6|    20,34|       0,38|    0,24|   0,38|
|          Albania|      EASTERN EUROPE|   3581655|              28748|                             124,6|                1,26|        -4,93|                        21,52| 4500|         86,5|               71,2|            21,09|            4,42|           74,49|      3|    15,11|     5,22|      0,232|   0,188|  0,579|
|          Algeria|     NORTHERN AFRICA|  32930091|            2381740|                              13,8|                0,04|        -0,39|                           31| 6000|         70,0|               78,1|             3,22|            0,25|           96,53|      1|    17,14|     4,61|      0,101|     0,6|  0,298|
|   American Samoa|             OCEANIA|     57794|                199|                             290,4|               58,29|       -20,71|                         9,27| 8000|         97,0|              259,5|               10|              15|              75|      2|    22,46|     3,27|       NULL|    NULL|   NULL|
|          Andorra|      WESTERN EUROPE|     71201|                468|                             152,1|                0,00|          6,6|                         4,05|19000|        100,0|              497,2|             2,22|               0|           97,78|      3|     8,71|     6,25|       NULL|    NULL|   NULL|
|           Angola|  SUB-SAHARAN AFRICA|  12127071|            1246700|                               9,7|                0,13|            0|                       191,19| 1900|         42,0|                7,8|             2,41|            0,24|           97,35|   NULL|    45,11|     24,2|      0,096|   0,658|  0,246|
|         Anguilla| LATIN AMER. & CARIB|     13477|                102|                             132,1|               59,80|        10,76|                        21,03| 8600|         95,0|              460,0|                0|               0|             100|      2|    14,17|     5,34|       0,04|    0,18|   0,78|
|Antigua & Barbuda| LATIN AMER. & CARIB|     69108|                443|                             156,0|               34,54|        -6,15|                        19,46|11000|         89,0|              549,9|            18,18|            4,55|           77,27|      2|    16,93|     5,37|      0,038|    0,22|  0,743|
|        Argentina| LATIN AMER. & CARIB|  39921833|            2766890|                              14,4|                0,18|         0,61|                        15,18|11200|         97,1|              220,4|            12,31|            0,48|           87,21|      3|    16,73|     7,55|      0,095|   0,358|  0,547|
|          Armenia| C.W. OF IND. STATES|   2976372|              29800|                              99,9|                0,00|        -6,47|                        23,28| 3500|         98,6|              195,7|            17,55|             2,3|           80,15|      4|    12,07|     8,23|      0,239|   0,343|  0,418|
|            Aruba| LATIN AMER. & CARIB|     71891|                193|                             372,5|               35,49|            0|                         5,89|28000|         97,0|              516,1|            10,53|               0|           89,47|      2|    11,03|     6,68|      0,004|   0,333|  0,663|
|        Australia|             OCEANIA|  20264082|            7686850|                               2,6|                0,34|         3,98|                         4,69|29000|        100,0|              565,5|             6,55|            0,04|           93,41|      1|    12,14|     7,51|      0,038|   0,262|    0,7|
|          Austria|      WESTERN EUROPE|   8192880|              83870|                              97,7|                0,00|            2|                         4,66|30000|         98,0|              452,2|            16,91|            0,86|           82,23|      3|     8,74|     9,76|      0,018|   0,304|  0,678|
|       Azerbaijan| C.W. OF IND. STATES|   7961619|              86600|                              91,9|                0,00|         -4,9|                        81,74| 3400|         97,0|              137,1|            19,63|            2,71|           77,66|      1|    20,74|     9,75|      0,141|   0,457|  0,402|
|     Bahamas, The| LATIN AMER. & CARIB|    303770|              13940|                              21,8|               25,41|         -2,2|                        25,21|16700|         95,6|              460,6|              0,8|             0,4|            98,8|      2|    17,57|     9,05|       0,03|    0,07|    0,9|
|          Bahrain|           NEAR EAST|    698585|                665|                            1050,5|               24,21|         1,05|                        17,27|16900|         89,1|              281,3|             2,82|            5,63|           91,55|      1|     17,8|     4,14|      0,005|   0,387|  0,608|
|       Bangladesh|ASIA (EX. NEAR EAST)| 147365352|             144000|                            1023,4|                0,40|        -0,71|                         62,6| 1900|         43,1|                7,3|            62,11|            3,07|           34,82|      2|     29,8|     8,27|      0,199|   0,198|  0,603|
|         Barbados| LATIN AMER. & CARIB|    279912|                431|                             649,5|               22,51|        -0,31|                         12,5|15700|         97,4|              481,9|            37,21|            2,33|           60,46|      2|    12,71|     8,67|       0,06|    0,16|   0,78|
|          Belarus| C.W. OF IND. STATES|  10293011|             207600|                              49,6|                0,00|         2,54|                        13,37| 6100|         99,6|              319,1|            29,55|             0,6|           69,85|      4|    11,16|    14,02|      0,093|   0,316|  0,591|
|          Belgium|      WESTERN EUROPE|  10379067|              30528|                             340,0|                0,22|         1,23|                         4,68|29100|         98,0|              462,6|            23,28|             0,4|           76,32|      3|    10,38|    10,27|       0,01|    0,24|  0,749|
+-----------------+--------------------+----------+-------------------+----------------------------------+--------------------+-------------+-----------------------------+-----+-------------+-------------------+-----------------+----------------+----------------+-------+---------+---------+-----------+--------+-------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import col, udf
from pyspark.sql.types import StringType

def get_country_code(country_name):
    code = ""
    try:
        return pycountry.countries.lookup(country_name).alpha_3
    except:
        return None

convertCountry = udf(lambda z:get_country_code(z),StringType())

In [ ]:
get_country_code('Austria')

'AUT'

In [ ]:
countries_df = countries_df.withColumn("Country_Code", convertCountry(countries_df.Country))

In [ ]:
countries_df.show()

+-----------------+--------------------+----------+-------------------+----------------------------------+--------------------+-------------+-----------------------------+-----+-------------+-------------------+-----------------+----------------+----------------+-------+---------+---------+-----------+--------+-------+------------+
|          Country|              Region|Population|area_per_squaremile|population_density_per_square_mile|coastline_area_ratio|net_migration|infant_mortality_per_thousand|  gdp|literacy_rate|phones_per_thousand|arable_percentage|crops_percentage|other_percentage|climate|Birthrate|Deathrate|Agriculture|Industry|Service|Country_Code|
+-----------------+--------------------+----------+-------------------+----------------------------------+--------------------+-------------+-----------------------------+-----+-------------+-------------------+-----------------+----------------+----------------+-------+---------+---------+-----------+--------+-------+------------+
|      Afghanistan|ASIA (EX. NEAR EAST)|  31056997|             647500|                              48,0|                0,00|        23,06|                       163,07|  700|         36,0|                3,2|            12,13|            0,22|           87,65|      1|     46,6|    20,34|       0,38|    0,24|   0,38|         AFG|
|          Albania|      EASTERN EUROPE|   3581655|              28748|                             124,6|                1,26|        -4,93|                        21,52| 4500|         86,5|               71,2|            21,09|            4,42|           74,49|      3|    15,11|     5,22|      0,232|   0,188|  0,579|         ALB|
|          Algeria|     NORTHERN AFRICA|  32930091|            2381740|                              13,8|                0,04|        -0,39|                           31| 6000|         70,0|               78,1|             3,22|            0,25|           96,53|      1|    17,14|     4,61|      0,101|     0,6|  0,298|         DZA|
|   American Samoa|             OCEANIA|     57794|                199|                             290,4|               58,29|       -20,71|                         9,27| 8000|         97,0|              259,5|               10|              15|              75|      2|    22,46|     3,27|       NULL|    NULL|   NULL|         ASM|
|          Andorra|      WESTERN EUROPE|     71201|                468|                             152,1|                0,00|          6,6|                         4,05|19000|        100,0|              497,2|             2,22|               0|           97,78|      3|     8,71|     6,25|       NULL|    NULL|   NULL|         AND|
|           Angola|  SUB-SAHARAN AFRICA|  12127071|            1246700|                               9,7|                0,13|            0|                       191,19| 1900|         42,0|                7,8|             2,41|            0,24|           97,35|   NULL|    45,11|     24,2|      0,096|   0,658|  0,246|         AGO|
|         Anguilla| LATIN AMER. & CARIB|     13477|                102|                             132,1|               59,80|        10,76|                        21,03| 8600|         95,0|              460,0|                0|               0|             100|      2|    14,17|     5,34|       0,04|    0,18|   0,78|         AIA|
|Antigua & Barbuda| LATIN AMER. & CARIB|     69108|                443|                             156,0|               34,54|        -6,15|                        19,46|11000|         89,0|              549,9|            18,18|            4,55|           77,27|      2|    16,93|     5,37|      0,038|    0,22|  0,743|        NULL|
|        Argentina| LATIN AMER. & CARIB|  39921833|            2766890|                              14,4|                0,18|         0,61|                        15,18|11200|         97,1|              220,4|            12,31|            0,48|           87,21|      3|    16,73|     7,55|      0,095|   0,358|  0,547|         ARG|
|          Armenia| C.W. OF IND. STATES|   2976372|              29800|                              99,9|                0,00|        -6,47|                        23,28| 3500|         98,6|              195,7|            17,55|             2,3|           80,15|      4|    12,07|     8,23|      0,239|   0,343|  0,418|         ARM|
|            Aruba| LATIN AMER. & CARIB|     71891|                193|                             372,5|               35,49|            0|                         5,89|28000|         97,0|              516,1|            10,53|               0|           89,47|      2|    11,03|     6,68|      0,004|   0,333|  0,663|         ABW|
|        Australia|             OCEANIA|  20264082|            7686850|                               2,6|                0,34|         3,98|                         4,69|29000|        100,0|              565,5|             6,55|            0,04|           93,41|      1|    12,14|     7,51|      0,038|   0,262|    0,7|         AUS|
|          Austria|      WESTERN EUROPE|   8192880|              83870|                              97,7|                0,00|            2|                         4,66|30000|         98,0|              452,2|            16,91|            0,86|           82,23|      3|     8,74|     9,76|      0,018|   0,304|  0,678|         AUT|
|       Azerbaijan| C.W. OF IND. STATES|   7961619|              86600|                              91,9|                0,00|         -4,9|                        81,74| 3400|         97,0|              137,1|            19,63|            2,71|           77,66|      1|    20,74|     9,75|      0,141|   0,457|  0,402|         AZE|
|     Bahamas, The| LATIN AMER. & CARIB|    303770|              13940|                              21,8|               25,41|         -2,2|                        25,21|16700|         95,6|              460,6|              0,8|             0,4|            98,8|      2|    17,57|     9,05|       0,03|    0,07|    0,9|        NULL|
|          Bahrain|           NEAR EAST|    698585|                665|                            1050,5|               24,21|         1,05|                        17,27|16900|         89,1|              281,3|             2,82|            5,63|           91,55|      1|     17,8|     4,14|      0,005|   0,387|  0,608|         BHR|
|       Bangladesh|ASIA (EX. NEAR EAST)| 147365352|             144000|                            1023,4|                0,40|        -0,71|                         62,6| 1900|         43,1|                7,3|            62,11|            3,07|           34,82|      2|     29,8|     8,27|      0,199|   0,198|  0,603|         BGD|
|         Barbados| LATIN AMER. & CARIB|    279912|                431|                             649,5|               22,51|        -0,31|                         12,5|15700|         97,4|              481,9|            37,21|            2,33|           60,46|      2|    12,71|     8,67|       0,06|    0,16|   0,78|         BRB|
|          Belarus| C.W. OF IND. STATES|  10293011|             207600|                              49,6|                0,00|         2,54|                        13,37| 6100|         99,6|              319,1|            29,55|             0,6|           69,85|      4|    11,16|    14,02|      0,093|   0,316|  0,591|         BLR|
|          Belgium|      WESTERN EUROPE|  10379067|              30528|                             340,0|                0,22|         1,23|                         4,68|29100|         98,0|              462,6|            23,28|             0,4|           76,32|      3|    10,38|    10,27|       0,01|    0,24|  0,749|         BEL|
+-----------------+--------------------+----------+-------------------+----------------------------------+--------------------+-------------+-----------------------------+-----+-------------+-------------------+-----------------+----------------+----------------+-------+---------+---------+-----------+--------+-------+------------+
only showing top 20 rows

In [ ]:
spark.sql("use olympics_db")

AnalysisException: [SCHEMA_NOT_FOUND] The schema `olympics_db` cannot be found. Verify the spelling and correctness of the schema and catalog.
If you did not qualify the name with a catalog, verify the current_schema() output, or qualify the name with the correct catalog.
To tolerate the error on drop use DROP SCHEMA IF EXISTS.

In [ ]:
countries_df.write.mode("overwrite").format("delta").saveAsTable("countries")

NameError: name 'countries_df' is not defined