In [26]:
%run "/content/drive/MyDrive/Colab Notebooks/spark-setup.ipynb"

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [28]:
#Drop Database
spark.sql("DROP SCHEMA IF EXISTS olympics_db CASCADE")

DataFrame[]

In [ ]:
#Setup Database
spark.sql("create database olympics_db")

In [ ]:
%run "/content/drive/MyDrive/Colab Notebooks/olympics.ipynb"

In [ ]:
%run "/content/drive/MyDrive/Colab Notebooks/countries.ipynb"

In [32]:
countries = spark.read.table("olympics_db.countries")

In [33]:
olympics = spark.read.table("olympics_db.olympics")

In [ ]:
spark.sql('select * from olympics where NOC="USA"').show(truncate=False)

In [ ]:
olympics.join(countries,olympics.NOC ==  countries.Country_Code,"inner") \
  .where(olympics.NOC == "USA") \
  .show(truncate=False)